<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ReportApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <BarIcon IconName="IconName.Home" Style="margin-right: 10px" /> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alltasks">
                <BarIcon IconName="IconName.List" Style="margin-right: 10px" /> All tasks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allreports">
                <BarIcon IconName="IconName.Folder" Style="margin-right: 10px" /> All reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allemployees">
                <BarIcon IconName="IconName.Users" Style="margin-right: 10px" /> All employees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="newtask">
                <BarIcon IconName="IconName.PlusSquare" Style="margin-right: 10px" /> New task
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="newreport">
                <BarIcon IconName="IconName.FolderPlus" Style="margin-right: 10px" /> New report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="newemployee">
                <BarIcon IconName="IconName.UserPlus" Style="margin-right: 10px" /> New employee
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sprintreport">
                <BarIcon IconName="IconName.FileAlt" Style="margin-right: 10px" /> Sprint report
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
