@page "/fetchdata"
@using ReportApp.Shared
@using ReportApp.Core.DTO
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    for (int i = 0; i < 3; i++)
    {
        Task.Run(() => AddTask(i));
    }
    <p>Hello</p>
    foreach (var task in tasks)
    {
        <p>Id: @task.Id, Name: @task.Name</p>
    }
}

@code {
    private WeatherForecast[] forecasts;
    private List<TaskDto> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await Http.GetFromJsonAsync<List<TaskDto>>("api/task/get-all");
    }

    private async Task AddTask(Int32 n)
    {
        await Http.PostAsJsonAsync("api/task/add", new TaskDto() { Name = "Task", Description = "Some text", StartDate = DateTime.Now, FinishDate = DateTime.Now.AddDays(1), Employee = null, Changes = null});
    }

}
